@import url(//fonts.google.com/specimen/Lora);

body {
  font-family: 'Lora', sans-serif;
  background-color: lightgray;
}

.container {
  width: 80%;
  background-color: white;
  margin: 0 auto;
  padding: 10px 0px;
}

.logo{
  width: 200px;
  height: 80px;
  object-fit: cover;
}

.main-img {
    width: 100%;
}

.navi {
  display: flex; /*リストを横並びにする*/
  list-style-type: none;  /*リストのドットを非表示にする*/
  justify-content: flex-end; /*navi menuを右寄せにする*/
}
.navi li {
  /* background-color: lightgray; */
  color: gray;
  padding: 10px 20px;
  margin-left: 10px;
}

h2 {
    text-align: center;
    color: gray;
    border-bottom: 2px dotted lightgray;
    padding: 30px 0px 20px;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: space-between;  /*menu画像を等間隔に配置する*/
    flex-wrap: wrap; /*要素の折り返し*/
    padding-left: 0px; /*GoogleChromeのPaddingの初期値を削除しないと左に隙間Paddingができる*/
}

.menu-img {
    object-fit: cover; /*以下のサイズで画像をトリミング*/
    width: 200px;
    height: 200px;
    padding: 10px 20px;
}

.text-data {
    margin: 30px 30px;
    font-size: 0.9rem;
    line-height: 1.8; /*行の高さ*/
}

.copyright {
    text-align: center;
    border-top: 3px solid gray;
    padding-top: 30px;
}
